<div class="main-pane">
  <div class="text-center-div">
    <h1 class="text-center">Liste de Noël pour toutes mes envies cadeaux</h1>
  </div>
  <div class="part-grid">
    <div class="part" (click)="onNavigate('part-four')">
      <h1>CRÉER MA LISTE</h1>
      <div href="#" class="iconSurprise"></div>
    </div>
  </div>
  <div class="div-how-work">
    <h1 class="text-center">Comment ça marche ?</h1>
    <div class="div-how-work-step">
      <div class="div-how-work-step1">
        <div href="#" class="iconStep1"></div>
        <h2 class="div-how-work-step1-title">Créer ma liste</h2>
        <p>En quelques clics créer et personnaliser une liste à votre image.</p>
      </div>
    </div>
    <div class="div-how-work-step">
      <div class="div-how-work-step1">
        <div href="#" class="iconStep2"></div>
        <h2 class="div-how-work-step1-title">Ajouter mes envies</h2>
        <p>Glissez tout simplement les produits qui vous plaisent depuis vos sites préférés.</p>
      </div>
    </div>
    <div class="div-how-work-step">
      <div class="div-how-work-step1">
        <div href="#" class="iconStep3"></div>
        <h2 class="div-how-work-step1-title">Partager ma liste</h2>
        <p>Diffusez facilement votre liste de cadeaux à vos proches.</p>
      </div>
    </div>
  </div>
</div>
