.app-signup-comp {
    background: url('../../../../assets/connexion.jpg');
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
}